[submodule "lib/JUCE"]
	path = lib/JUCE
	url = https://github.com/juce-framework/JUCE
	branch = juce6
	ignore = dirty

[submodule "lib/react-juce"]
	path = lib/react-juce
	url = https://github.com/nick-thompson/react-juce
	ignore = dirty
